@media only screen and (min-width: 769px) {
    #chart-whole, #chart-header {
        width:70vw;
        max-width: 800px;
    }
}

@media only screen and (min-width:321px) and (max-width: 768px) {
    #chart-whole, #chart-header {
        width: 90vw;
    }
}

@media only screen and (max-width: 320px) {
    #chart-whole, #chart-header {
        width: 100vw;
    }
}

body {
    font-size: 20px;
}
#chart-whole {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.figure {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100px;
    color: black;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
}

.chart-row {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-around;
}

#sentence-row {
    display:flex;
    flex-direction: row-reverse;
    justify-content: right;
    width: 100%;
}

#top-row .figure {
    width: 12.5%;
}

#niece-row .figure {
    background-color: lightgrey;
    width: 25%;
}

#witness-row .figure {
    background-color: darkgrey;
    width: 50%;
}

#judge-row .figure {
    background-color: grey;
    width: 100%;
    
}

#sentence-row .figure {
    width: 25%;
}

#chart-header {
    display: flex;
    justify-content: space-between;


    /* border: 2px solid red; */
}

#cast {
    height: 50%;
    align-self: center;
    /* justify-self: flex-end; */
}