@media only screen and (min-width: 769px) {
    #chart-whole {
        width:70vw;
        max-width: 800px;
    }
}

@media only screen and (min-width:321px) and (max-width: 768px) {
    #chart-whole {
        width: 90vw;
    }
}

@media only screen and (max-width: 320px) {
    #chart-whole {
        width: 100vw;
    }
}

body {
    font-size: 20px;
}
#chart-whole {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.figure {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100px;
    color: black;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
}

.chart-row {
    display: flex;
    flex-direction: row;
    width: 1vw
    height: 100%;
    justify-content: space-around;
}

#sentence-row {
    display:flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: right;
}

#top-row .figure {
    width: 12.5%;

}

#niece-row .figure {
    background-color: lightgoldenrodyellow;
    width: 25%;
    
}

#witness-row .figure {
    background-color: lightskyblue;
    width: 50%;
    
}

#judge-row .figure {
    background-color: lightseagreen;
    width: 100%;
    
}

#sentence-row .figure {
    width: 25%;
}

#cast {
    
}

.fig-row {
    width: 70%;

}

/* .active {
    width: 20%;
    background-color: white;
} */